/* ========== Import fonts from Google ========== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* =========== Reset some basic elements ========== */

body, h1, h2, h3,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* =========== Style the body ========== */

body {
  color: #111;
  background-color: #fff;
  font: normal 100%/150% "Open Sans",
                         "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;
  font-feature-settings: "kern" 1; /* TODO: needs vendor prefixes? */
  font-kerning: normal;            /* TODO: needs vendor prefixes? */
  scroll-behavior: smooth;
}

/* =========== Style headings ========== */

h1 {
  font-size: 225%;
  font-weight: 300;
  line-height: 133%;
  margin-bottom: 0.33333em;
}

h2 {
  font-size: 150%;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 0.5em;
}

/* =========== Potato trademark ========== */

span:after {
  content: "\2122";
  font-size: .5em;
  vertical-align: super;
}

/* =========== Sections ========== */

section {
  min-height: 100vh;
}

/* =========== Intro ========== */

#intro {
  background-color: #ccb081;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* =========== Style the header & nav ========== */

header,
nav ul {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 2em 12em;
}

header h1,
header nav {
  color: #fff;
  flex: 1;
}

nav ul {
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  color: #fff;
  font-size: .75em;
  text-decoration: none;
  text-transform: uppercase;
}

a[href="buy-now"] {
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 20px;
}

/* =========== Intro hero ========== */

#intro .hero {
  color: #fff;
  margin: auto;
  text-align: center;
}

/* =========== About ========== */

#about {
  text-align: center;
}

#about h1 {
  margin: 2em;
}

/* =========== Order ========== */

#order {
  background-color: #eee;
  color: #a9a9a9;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin: 0;
}

#order h1 {
  margin: 2em auto;
}

#order h2 span {
  color: #808080;
  font-weight: 400;
}

#order #products {
  display: flex;
  justify-content: center;
  margin: 0 16em;
}

#order #products div+div {
  border-left: 1px solid #a9a9a9;
}

#lite,
#pro,
#team {
  display: flex;
  flex-direction: column;
  min-height: 16em;
  padding: 0 3em;
}

#lite ul,
#pro ul,
#team ul {
  flex-grow: 1;
}

#order a {
  align-self: center;
  color: limegreen;
  border: 1px solid limegreen;
  border-radius: 20px;
  font-size: .70em;
  margin-top: 3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 6em;
}

#order small {
  color: #808080;
  font-size: .65em;
  padding-top: 1em;
  text-align: center;
}

#satisfaction {
  background: bisque;
  display: flex;
  margin: 0;
}

#satisfaction blockquote {
  margin: auto;
}


